<h1>Log in</h1>
  <div class="row">
    <div class="large-4 columns">

      <%= form_tag sessions_path do %>
        
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
        
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        
        <div class="actions"><%= submit_tag "Log in" %></div>
      <% end %>
    </div>
  </div>