<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity %>
  </div>
  <div>

<!-- The following two fields are for testing only and need to be removed. -->


    <input type="date" value="" placeholder="This is the HTML5 date…" name="html_date">

    <input type="time" name="time_experiment" />

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
