<p id="notice"><%= notice %></p>

<%= form_for(@course) do |f| %>
<div class="row">
  <div class="large-4 columns">
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:classroom, "Classroom:") %><%= f.collection_select :classroom_id, Classroom.all, :id, :name %><%= f.label "Automatically book other classrooms if this room is not available?" %><%= f.check_box :force_classroom %>
  

  <%= label_tag(:instructor_ids, "Instructor:") %>
  <%= f.collection_select(:instructor_ids, User.all(:order => 'name'), :id, :name, { :prompt => 'Select Instructor' } ) %>

  </div>
</div>



<div class="row">
  <div class="large-6 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :start %>
    <%= f.date_select :start %>
  
    <%= f.label :endtime %>
    <%= f.date_select :endtime %>
  </div>
</div>

<h3> I only want to show the days which fall over the course duration!</h3>

<!-- Start time -->


<div class="row">
  <div class="small-6 columns">
  <h4>Monday</h4>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Mondaystart, "Start (h)" %>
      <%= f.number_field :Mondaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Mondaystartm, "(m)" %>
      <%= f.number_field :Mondaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Mondayend, "End (h)" %>
      <%= f.number_field :Mondayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Mondayendm, "(m)" %>
      <%= f.number_field :Mondayendm, :include_blank => true %>
    </div>
  </div>

<h4>Tuesday</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Tuesdaystart, "Start (h)" %>
      <%= f.number_field :Tuesdaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Tuesdaystartm, "(m)" %>
      <%= f.number_field :Tuesdaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Tuesdayend, "End (h)" %>
      <%= f.number_field :Tuesdayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Tuesdayendm, "(m)" %>
      <%= f.number_field :Tuesdayendm, :include_blank => true %>
    </div>
  </div>

  <h4>Wednesday</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Wednesdaystart, "Start (h)" %>
      <%= f.number_field :Wednesdaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Wednesdaystartm, "(m)" %>
      <%= f.number_field :Wednesdaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Wednesdayend, "End (h)" %>
      <%= f.number_field :Wednesdayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Wednesdayendm, "(m)" %>
      <%= f.number_field :Wednesdayendm, :include_blank => true %>
    </div>
  </div>

  <h4>Thursday</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Thursdaystart, "Start (h)" %>
      <%= f.number_field :Thursdaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Thursdaystartm, "(m)" %>
      <%= f.number_field :Thursdaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Thursdayend, "End (h)" %>
      <%= f.number_field :Thursdayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Thursdayendm, "(m)" %>
      <%= f.number_field :Thursdayendm, :include_blank => true %>
    </div>
  </div>

  <h4>Friday</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Fridaystart, "Start (h)" %>
      <%= f.number_field :Fridaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Fridaystartm, "(m)" %>
      <%= f.number_field :Fridaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Fridayend, "End (h)" %>
      <%= f.number_field :Fridayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Fridayendm, "(m)" %>
      <%= f.number_field :Fridayendm, :include_blank => true %>
    </div>
  </div>

<h4>Saturday</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Saturdaystart, "Start (h)" %>
      <%= f.number_field :Saturdaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Saturdaystartm, "(m)" %>
      <%= f.number_field :Saturdaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Saturdayend, "End (h)" %>
      <%= f.number_field :Saturdayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Saturdayendm, "(m)" %>
      <%= f.number_field :Saturdayendm, :include_blank => true %>
    </div>
  </div>

<h4>Sunday</h4>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :Sundaystart, "Start (h)" %>
      <%= f.number_field :Sundaystart, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Sundaystartm, "(m)" %>
      <%= f.number_field :Sundaystartm, :include_blank => true %>
    </div>

     <div class="small-3 columns">
      <%= f.label :Sundayend, "End (h)" %>
      <%= f.number_field :Sundayend, :include_blank => true %>
    </div>

    <div class="small-3 columns">
      <%= f.label :Sundayendm, "(m)" %>
      <%= f.number_field :Sundayendm, :include_blank => true %>
    </div>
  </div>














</div>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
