<h1>This is the new enrolment page</h1>

OK <%= @user.name %>,

<% if @courses.blank? %>
  They're aren't any courses available to enrol on yet! 
<% else %>
  <%= form_tag create_enrolment_path(@user), method: :post do %>
    <% if @enrolment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@enrolment.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @enrolment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    choose an upcoming course to enrol on:
    <%= collection_select('course', :id, @courses, :id, :name) %>

    <div class="actions">
      <button>Submit</button>
    </div>

  <% end %>
<% end %>


